<launch>
	<master auto="start"/>

	<param name ="use_sim_time" value="false"/>

<!--- Start laser scan --> 

	<node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode" output="screen">

	<param name="serial_port" type="string" value="/dev/ttyUSB0"/>

	</node>

<!--- Start arduino serial interface --> 

	<node pkg="rosserial_arduino" type="serial_node.py" name="rosserial" respawn="true"  args="_port:=/dev/ttyUSB1"/>

<!--- Setup tramformation --> 
	<node pkg="tf" type="static_transform_publisher" name="base_2_laser" args="0 0 0.3 0 0 0  base_link laser_frame 100" />

<!--- Run odometry setup node --> 

	<node pkg="odom_setup" type="odom" name="odometryNode"   output="screen"/>

<!--- Run the map server --> 

	<node  pkg="map_server" type="map_server" name="map_server"  args="/home/test_room5.yaml"/>

<!--- Run AMCL --> 
<include file="$(find amcl)/examples/amcl_diff.launch"/>

</launch>
