<?xml version = "1.0" encoding = "UTF-8"?>
<launch>
    <include file = "$(find urdf_sim)/launch/urdf_spawn.launch">
        <arg name = "x" value = "0.0"/>
        <arg name = "y" value = "0.0"/>
        <arg name = "z" value = "0.6"/>
        <arg name = "urdf_file" value = "$(find urdf_sim)/urdf/mobile_urdf.urdf"/>
        <arg name = "robot_name" value = "sandee"/>
    </include>
</launch>